<!DOCTYPE HTML>
<html>
	<head>
		<title>My Movies list</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1 id="logo">Movie Library </h1>
								<p style="margin-top:1rem;">Search your fav movie and add it to libray</p>
							</header>
							<footer>
								<a href="{{ url_for('search', user_id=user_id) }}" class="button" style="margin-bottom:15%;">SEARCH</a>
								<div>
									<a href="#banner" class="scrolly"  style="font-size: 495%; "><i class="fas arrow-down fa-long-arrow-alt-down"></i></a>
								</div>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{{ url_for('readme', user_id=user_id) }}">READ ME</a></li>
								<li><a href="{{ url_for('search', user_id=user_id) }}">SEARCH MOVIE</a></li>
								<li><a href="#banner"  class="scrolly">MOVIES LIST</a></li>
								<li><a href="right-sidebar.html">GITHUB</a></li>
								<li><a href="{{ url_for('logout_use') }}">LOGOUT</a></li>
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>

						<h2>Look at your list of <strong>Movies</strong>.</h2>

					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel" >
					<div class="reel" >
									<!--CARD HERE-->
									{% if movies != None %}
										{% for movie in movies %}

											<article >
												<a class="image featured"><img src="https://www.themoviedb.org/t/p/w500{{ movie['img_url'] }}" alt="movie-poster" /></a>
												<header style="margin-bottom:0;">
													<h3><strong>{{ movie['title'] }} ( {{ movie['year'] }} )</strong></h3>
													<p style="margin-bottom:0;">Rating : {{ movie['rating'] }}</p>
												</header>
												<textarea rows="10" cols="30">
													{{ movie['description'] }}
												</textarea>
												<a href="{{ url_for('delete', movie_id=movie['id']) }}" class="btn btn-danger">Delete</a>
											</article>

										{% endfor %}
									{% endif %}
					</div>
				</section>


			<!-- Features -->
				<div class="wrapper style1">
					<section id="features" class="container special">
						<header>
							<h2 style="margin-bottom: 2rem;">Top 3 Movies From Your List </h2>
						</header>
						<div class="row">

						{% if movies != None %}
						{% for movie in top_movies %}
							<article class="col-4 col-12-mobile special">
								<a  class="image featured"><img src="https://www.themoviedb.org/t/p/w500{{ movie['img_url'] }}" alt="movie-poster" /></a>
								<header>
									<h3><strong>{{ movie['title'] }} ( {{ movie['year'] }} )</strong></h3>
									<p style="margin-bottom:0;">Rating : {{ movie['rating'] }}</p>
								</header>
							</article>
						{% endfor %}
						{% endif %}
						</div>
					</section>
				</div>

		</div>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>