{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <!-- Page Header -->
      <header style="background-image: url('static/images/register.jpg'); padding:90px 0;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1><strong>Register</strong></h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container" style="margin-top:3rem;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
           {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                 <p style="color:red;">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
           {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
              <a href="{{url_for('login')}}" type="button" class="btn btn-primary initial-buttons" style="margin-top:1rem;">Login</a>
          </div>
        </div>
      </div>

{% endblock %}